/* slider container */
.slider-container-overlay {
  position: relative;
  width: 100%;
  background: #000;
  height: 80vh;
  top: 24px;
}

/* Slides & items remain absolutely positioned inside the slider-slider */
.slider-container-overlay .slider-slide-overlay .slider-item-overlay {
  width: 300px;
  height: 360px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  /* box-shadow: 0 30px 50px #505050; */
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slider-slide-overlay .slider-item-overlay:nth-child(n + 3) {
  box-shadow: 0 30px 50px #505050;
}

/* Keep the first two items spanning the slider-slider
   so that it looks like a large background initially. */
.slider-slide-overlay .slider-item-overlay:nth-child(1),
.slider-slide-overlay .slider-item-overlay:nth-child(2) {
  top: 70px;
  left: 10px;
  transform: translate(0, 0);
  border-radius: 40px;
  width: 50%;
  height: 70%;
}
/* Position subsequent items to the right */
.slider-container-overlay .slider-item-overlay:nth-child(3) {
  left: 52%;
}

.slider-container-overlay .slider-item-overlay:nth-child(4) {
  left: calc(52% + 320px);
}

.slider-container-overlay .slider-item-overlay:nth-child(5) {
  left: calc(52% + 640px);
}

.slider-container-overlay .slider-item-overlay:nth-child(6) {
  left: calc(52% + 960px);
}

.slider-container-overlay .slider-item-overlay:nth-child(n + 7) {
  left: calc(60% + 1280px);
  opacity: 0;
}

/* set the slider item contents  */
.slider-item-overlay .slider-content-overlay {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}

/* Show the content for the 2nd .item by default */
.slider-slide-overlay .slider-item-overlay:nth-child(2) .slider-content-overlay {
  display: block;
}
/* content name */
.slider-content-overlay .slider-name-overlay {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.slider-content-overlay .slider-des-overlay {
  margin-top: 16px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.slider-content-overlay .slider-button-button-overlay {
  padding: 10px 20px;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}
/* slider button  */

.slider-button-button-overlay {
  width: 200px;
  /* height: 35px; */
  border-radius: 8px;
  cursor: pointer;
  margin: 0 0px;
  border: 1px solid #eee;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  padding: 10px 10px;
}

.slider-button-button-overlay:hover {
  background: #ababab;
  color: #fff;
}

/* Navigation buttons pinned at the bottom of the screen */

.slider-navigation-button-overlay {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: -8px;
  /* border: 1px solid white; */
}

.slider-navigation-button-overlay button {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  transition: 0.3s;
  border: 1px solid white;
}

.slider-navigation-button-overlay button:hover {
  color: #fff;
}


/* For small screens (sm) */
@media (max-width: 639px) {
  .slider-slide-overlay .slider-item-overlay:nth-child(1),
  .slider-slide-overlay .slider-item-overlay:nth-child(2) {
    width: 100%;  /* Change width to 100% for small screens */
    top: 60px;
    left: 0;
    transform: translate(0, 0);
    border-radius: 40px;
    height: 76%;
  }

  /* Hide all items except the first one on small screens */
  .slider-container-overlay .slider-item-overlay:nth-child(n+3) {
    opacity: 0;
  }
  /*  */
  .slider-item-overlay .slider-content-overlay {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
  }
  /* navigation tweaking for smaller screens */
  .slider-navigation-button-overlay button{
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}

/* For medium screens (md) */
@media (min-width: 640px) and (max-width: 767px) {
  /* Your logic for medium screens if needed */
}

/* For large screens (lg) */
@media (min-width: 1024px) {
  /* Your logic for large screens if needed */
}

/* For extra large screens (xl) */
@media (min-width: 1280px) {
  /* Your logic for extra large screens if needed */
}

/* For 2xl screens */
@media (min-width: 1536px) {
  /* Your logic for 2xl screens if needed */
}
